body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

#content {
    min-height: 100vh;
}

#artefato {
    height: 500px;
}
#artefato.fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.fotosArtefatos{
    height: 400px !important;
}
#outrosArtefatos{
    height: 700px !important;

}

#map {
    height: 500px;
}

.mensagem-erro {
	color: #f00;
}

.marker {
    background-color: yellow;
}

.onepix-imgloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

/*hide the second element in the loading container (first element is the leading img)*/
.loading-container > *:not(.onepix-imgloader) {
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
}

.loading-container {
    position: relative;
    background: #dfdfdf;
    min-height: 40px;
    height: 400px;
}

#container {
/*    min-width: 400px;*/
    min-height: 400px;
}
